.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.skills_front {
  width: 50%;
}

.skills ul {
  list-style: element();
}

@media only screen and (max-width: 600px) {
  .skills_front {
    width: 100%;
  }
}
