.home{
  margin: 10% auto;
  width: 85%;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: -80px;
}

.container_bio{
  width: 60%;
  margin-right: 5%;
}
/* .container_bio h1{
  color: var(--textTitle);
} */
.container_img{
  width: 20%;
}

/* SVG ROTATION*/
@keyframes rotate{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}


.blob-rotate-faster {
  transition: all .3s ease 0s;
  -webkit-animation: rotate 25s linear infinite;
  animation: rotate 25s linear infinite;
}


