.footer{
  width: 100%;
  background-color: rgba(184, 219, 216, 0.26);
  height: 40vh;
  text-align: center;
}
.footer_contact h2{
  padding-top: 50px;
}
.footer_contact a{
  text-decoration: none;
}
.footer_icon{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 7%;
  justify-content: space-between;
  
}
.footer_icon span{
  padding: 15px;
}
