.footer {
  width: 100%;
  background-image: linear-gradient(
    var(--bg),
    var(--bgfooter),
    var(--textLink)
  );
  text-align: center;
}
.footer_contact h2 {
  padding-top: 50px;
}
.footer_contact a {
  text-decoration: none;
}
.footer_icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 7%;
  justify-content: space-between;
}
.footer_icon span {
  padding: 15px;
}

.footer p{
  font-weight: bolder;
}

.footer_icon i:hover{
  color: var(--bg);

}