.projectPage{
  width: 90%;
  margin: 5% auto;

}
.project-list{
  list-style: none;
}
.project{
  border-bottom: 0.5px solid rgba(179, 184, 184, 0.795);
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;

}
.project:hover{
  transform: scale(1.05);
  background-color: rgba(222, 235, 233, 0.26);
}
.project a, .project div span{
  padding: 5px;
}
