.project-list{
  list-style: none;
}
.project{
  width: 70%;
  margin: 2%;
  border-bottom: 0.5px solid rgba(179, 184, 184, 0.795);
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.project:hover{
  transform: scale(1.05);
  background-color: rgba(184, 219, 216, 0.26);
}
.project a, .project div span{
  padding: 5px;
}